input{
    outline:none;
    padding: 8px;
    border: 1px solid #6333;
    border-radius: 4px;
    font-size: 16px;
    width: 70%;
    margin-inline: 10%;
    align-self: center;
    background-color: rgba(144, 144, 144, 0.452);
    text-shadow: 0px 0px 1px gray;
  }
  .logo {
    width: 65%;
    height: 15%;
    margin: 0 auto 10px; /* Centrar la imagen y añadir espacio debajo */
    display: block; /* Para que la imagen se comporte como bloque y se pueda centrar con margin */
  }
  .registro h3, input{
    text-align: left;
    width: 85%;
  }
  .registro{
    background-color: red;
    color: #fff;
    padding: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
  }
  .row.py-2{
    margin: 10px;
    border: solid red 2px ;
    border-radius: 8px;
    box-shadow: 3px 1px 4px 1px red;
  }
  .col-lg-6:nth-child(2){
    height: 90vh;
  }
  a{
    text-decoration: none;
  }
  .col-lg-6:nth-child(1){
    margin-block: auto;
    text-align: center;
  }

  .image-section {
    padding-top: 50%;
    background-image: url("../img/sanferempresa.png");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .login-form button {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 15px; /* Ajustar este valor para reducir el espacio entre los campos */
    font-size: 16px;
    width: 40%;
    align-self: center;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;

  }

  .registro:hover, button:hover{
    background-color: darkred;
  }


  .login-form h1, h4, h5 {
    text-align: center;
  }
  div.transbox {
    margin-left: 35%;
    background-color: rgba(255, 255, 255, 0.4);
    width: fit-content;
    padding: 20px;
    border-radius: 8px;

  }
  div.transbox > a{
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
  }
